# Devenv
/.devenv*
/devenv.local.nix

# direnv
/.direnv

# pre-commit
/.pre-commit-config.yaml

# Local VS Code configuration
/.vscode*

# Kernel build artifacts
/*.deb
/*.buildinfo
/*.changes
/.pc

# Packaging staging directories
/llama.cpp-qcom/
/llama.cpp-qcom-midstream/

# Build and install artifacts in src/
/src/build-qcom/
/src/build-midstream/
/src/install-qcom/
/src/install-midstream/
/src/CMakeUserPresets.json

# Logs
/*.log

